<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application>
        <activity
            android:name=".CourseActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Light.Space"
            tools:ignore="DiscouragedApi" />
    </application>

</manifest>